* @oa-SETU

# student reg based on roster:
# /studentLabs/oa-SETU-ta/  @oa-SETU-ta
# /studentLabs/c00288105/  @c00288105
# /studentLabs/c00290965/  @JadFuhr
# /studentLabs/c00194821/  @StephenJamesDunne
# /studentLabs/c00283423/  @ryanholloway
# /studentLabs/c00260441/  @Brandon-Cameron
# /studentLabs/c00288668/  @EmilyBreen
# /studentLabs/c00288340/  @VeronikaSyncakova
# /studentLabs/c00287252/  @KyleDonovan69
# /studentLabs/c00281281/  @Nathan-Byrne
# /studentLabs/c00285423/  @MonikaNusi
# /studentLabs/c00284421/  @StevenKelly03
# /studentLabs/c00283152/  @Splashdamage115
# /studentLabs/c00286125/  @Danny-delaney
# /studentLabs/c00286789/  @DylanManley
# /studentLabs/c00285802/  @Josh-Alsybury
# /studentLabs/c00287604/  @alexbowes51
# /studentLabs/c00284361/  @Jakub-Stepien1
# /studentLabs/c00286807/  @Edward-Norton
# /studentLabs/c00287898/  @JordanLewisPhelan

